@import 'src/global/app.less';

:host {
  display: block;
  line-height: 0px;
}
.inputColor {
  width: 1em;
  height: 1em;
  font-size: 1em; 
  border-radius: @border-radius3;
  border-color: @color-black4;
  outline: none;
  box-sizing: border-box;
}

