// 颜色
@color-black1: #333;
@color-black2: #666;
@color-black3:#999;
@color-black4:#b8b8b8;

@color-white1: #E0E0E0;
@color-white2: #f4f4f4;
@color-white3: #f5f5f5;
@color-white4: #eee;
@color-white5: #fff;

@color-blue1: #096DD9;
@color-blue2:#1890FF;
@color-blue3: #40A9FF;
@color-blue4: #91D5FF;
@color-blue5: #BAE7FF;
@color-blue6: #E6F7FF;

@color-orange1: #D96C00;
@color-orange2:#FF8800;
@color-orange3: #FFA229;
@color-orange4: #FFE0A3;
@color-orange5: #FFF7E6;

@color-red1: #D9363E;
@color-red2:#FF4D4F;
@color-red3: #FF7875;
@color-red4: #FFCCC7;
@color-red5: #FFF2F0;

@color-green1: #009C50;
@color-green2:#07C160;
@color-green3: #29CF74;
@color-green4: #A6F5C2;
@color-green5: #E6FFEE;

// 边框
@border-radius1: 100%;
@border-radius2: 4px;
@border-radius3: 2px;
@border-width1: 4px;
@border-width2: 2px;
@border-width3: 1px;

// 边距
@padding1: 20px;
@padding2: 10px;
@padding3: 5px;
@margin1: 30px;
@margin2: 20px;
@margin3: 10px;

// 投影
@box-shadow-black: 0 0 10px 0 @color-black2;